{% extends "base.html" %}{% load staticfiles %}

{% block content %}
<section id="portfolio" class="container">
  <ul class="portfolio-items col-3">
    {% for category in categories %}
    <li class="portfolio-item apps">
      <div class="item-inner">
        <a href="{% url 'categorypage' category.slug %}"><img src="/media/{{ category.image.image.name }}" alt=""></a>
        <h3 style="text-align:center;">{{ category.name }}</h3>
      </div>
    </li><!--/.portfolio-item-->
    {% endfor %}
  </ul>
</section><!--/#portfolio-->
{% endblock content %}
