{% extends "base.html" %}{% load staticfiles %}

{% block content %}
<section id="portfolio" class="container">
  <ul class="portfolio-items col-3">
    {% for category in categories %}
    <li class="portfolio-item apps">
      <div class="item-inner">
        <a href="#"><img src="{% static 'images/portfolio/thumb/item1.jpg' %}" alt=""></a>
        <h3>Lorem ipsum dolor sit amet</h3>
      </div>
    </li><!--/.portfolio-item-->
    {% endfor %}
  </ul>
</section><!--/#portfolio-->
{% endblock content %}
