{% extends 'base.html' %}

{% block content %}
<section class="container" style="min-height:480px;">
    <div class="row">
        <div class="col-sm-8">
            <h2>Welcome</h2>
        </div>
        <div class="col-sm-4 well well-lg" style="background-color: #E4E4E4;">
            <h3>Enter you details</h3>
            <form method="POST" action="{% url 'login' %}" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}